@model WebApplication3.Models.Podzespol
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div id="productlist-content">
  @Html.Action("PodzespolyMenu")
    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="../Content/Images/home-small.png" />
            <a href="nav">
              <b>@Html.MvcSiteMap().SiteMapPath()</b>  
            </a>
        </div>


        <section id="product-details-section">
            <div id="product-details-left">

                <img src="../Content/Covers/@Model.ConvertFileName" />

                <div id="product-details-share">
                    <a href="https://www.facebook.com"></a>
                    <div></div>
                    <a href="https://www.twitter.com"></a>
                </div>

            </div>

            <div id="product-details-right">
                <div id="product-details-names">

                    <h1>
                        @Model.Producent
                    </h1>

                    <h2>
                        @Model.NazwaPodzespolu
                    </h2>

                </div>

                <div id="product-details-price">
                    <div>
                        @Model.Price<span>PLN</span>
                    </div>
                    <a href="@Url.Action("AddToCart","Cart",new { id=Model.PodzespolId })"></a>
                </div>

                <div id="product-details-description">
                    @Model.Description
                </div>

                <div id="product-details-info">
                    Bezpłatna przesyłka. Czas realizacji: 24godziny.
                </div>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                <a href="@Url.Action("AddProduct", "Manage", new { podzespolId = Model.PodzespolId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
                }
            </div>

        </section>

    </div>
</div>
