
@model WebApplication3.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Moj sklep";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <nav class="genres-horizontal">
        <ul>
            @foreach (var podzespol in Model.Podzespoly)
            {
                <li>
                    <a href="@Url.Action("List","Store", new { genrename=podzespol.Name.ToLower() })" style="background-image: url('../../Content/ikony/@podzespol.IconFileName');">
                        @podzespol.Name
                    </a>
                </li>
            }

        </ul>
        <div>
            <!-- #region Jssor Slider Begin -->
            <!-- Generator: Jssor Slider Composer -->
            <!-- Source: https://www.jssor.com/demos/different-size-photo-slider.slider/=edit -->
            <script src="~/Content/jssor.slider.min.js"></script>
            <script type="text/javascript">
                window.jssor_1_slider_init = function () {

                    var jssor_1_SlideshowTransitions = [
                      { $Duration: 800, x: 0.25, $Zoom: 1.5, $Easing: { $Left: $Jease$.$InWave, $Zoom: $Jease$.$InCubic }, $Opacity: 2, $ZIndex: -10, $Brother: { $Duration: 800, x: -0.25, $Zoom: 1.5, $Easing: { $Left: $Jease$.$InWave, $Zoom: $Jease$.$InCubic }, $Opacity: 2, $ZIndex: -10 } },
                      { $Duration: 1200, x: 0.5, $Cols: 2, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InOutCubic }, $Opacity: 2, $Brother: { $Duration: 1200, $Opacity: 2 } },
                      { $Duration: 600, x: 0.3, $During: { $Left: [0.6, 0.4] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2, $Brother: { $Duration: 600, x: -0.3, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 } },
                      { $Duration: 800, x: 0.25, y: 0.5, $Rotate: -0.1, $Easing: { $Left: $Jease$.$InQuad, $Top: $Jease$.$InQuad, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuad }, $Opacity: 2, $Brother: { $Duration: 800, x: -0.1, y: -0.7, $Rotate: 0.1, $Easing: { $Left: $Jease$.$InQuad, $Top: $Jease$.$InQuad, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuad }, $Opacity: 2 } },
                      { $Duration: 1000, x: 1, $Rows: 2, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2, $Brother: { $Duration: 1000, x: -1, $Rows: 2, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2 } },
                      { $Duration: 1000, y: -1, $Cols: 2, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2, $Brother: { $Duration: 1000, y: 1, $Cols: 2, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2 } },
                      { $Duration: 800, y: 1, $Easing: { $Top: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2, $Brother: { $Duration: 800, y: -1, $Easing: { $Top: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2 } },
                      { $Duration: 1000, x: -0.1, y: -0.7, $Rotate: 0.1, $During: { $Left: [0.6, 0.4], $Top: [0.6, 0.4], $Rotate: [0.6, 0.4] }, $Easing: { $Left: $Jease$.$InQuad, $Top: $Jease$.$InQuad, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuad }, $Opacity: 2, $Brother: { $Duration: 1000, x: 0.2, y: 0.5, $Rotate: -0.1, $Easing: { $Left: $Jease$.$InQuad, $Top: $Jease$.$InQuad, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuad }, $Opacity: 2 } },
                      { $Duration: 800, x: -0.2, $Delay: 40, $Cols: 12, $During: { $Left: [0.4, 0.6] }, $SlideOut: true, $Formation: $JssorSlideshowFormations$.$FormationStraight, $Assembly: 260, $Easing: { $Left: $Jease$.$InOutExpo, $Opacity: $Jease$.$InOutQuad }, $Opacity: 2, $Outside: true, $Round: { $Top: 0.5 }, $Brother: { $Duration: 800, x: 0.2, $Delay: 40, $Cols: 12, $Formation: $JssorSlideshowFormations$.$FormationStraight, $Assembly: 1028, $Easing: { $Left: $Jease$.$InOutExpo, $Opacity: $Jease$.$InOutQuad }, $Opacity: 2, $Round: { $Top: 0.5 }, $Shift: -200 } },
                      { $Duration: 700, $Opacity: 2, $Brother: { $Duration: 700, $Opacity: 2 } },
                      { $Duration: 800, x: 1, $Easing: { $Left: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2, $Brother: { $Duration: 800, x: -1, $Easing: { $Left: $Jease$.$InOutQuart, $Opacity: $Jease$.$Linear }, $Opacity: 2 } }
                    ];

                    var jssor_1_options = {
                        $AutoPlay: 1,
                        $FillMode: 5,
                        $SlideshowOptions: {
                            $Class: $JssorSlideshowRunner$,
                            $Transitions: jssor_1_SlideshowTransitions,
                            $TransitionsOrder: 1
                        },
                        $ArrowNavigatorOptions: {
                            $Class: $JssorArrowNavigator$
                        },
                        $BulletNavigatorOptions: {
                            $Class: $JssorBulletNavigator$,
                            $SpacingX: 16,
                            $SpacingY: 16
                        }
                    };

                    var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                    /*#region responsive code begin*/

                    var MAX_WIDTH = 600;

                    function ScaleSlider() {
                        var containerElement = jssor_1_slider.$Elmt.parentNode;
                        var containerWidth = containerElement.clientWidth;

                        if (containerWidth) {

                            var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                            jssor_1_slider.$ScaleWidth(expectedWidth);
                        }
                        else {
                            window.setTimeout(ScaleSlider, 30);
                        }
                    }

                    ScaleSlider();

                    $Jssor$.$AddEvent(window, "load", ScaleSlider);
                    $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                    $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                    /*#endregion responsive code end*/
                };
            </script>
            <style>
                /*jssor slider loading skin spin css*/
                .jssorl-009-spin img {
                    animation-name: jssorl-009-spin;
                    animation-duration: 1.6s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }

                @@keyframes jssorl-009-spin {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }

                /*jssor slider bullet skin 072 css*/
                .jssorb072 .i {
                    position: absolute;
                    color: #000;
                    font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
                    text-align: center;
                    cursor: pointer;
                    z-index: 0;
                }

                    .jssorb072 .i .b {
                        fill: #fff;
                        opacity: .3;
                    }

                    .jssorb072 .i:hover {
                        opacity: .7;
                    }

                .jssorb072 .iav {
                    color: #fff;
                }

                    .jssorb072 .iav .b {
                        fill: #000;
                        opacity: .5;
                    }

                .jssorb072 .i.idn {
                    opacity: .3;
                }

                /*jssor slider arrow skin 073 css*/
                .jssora073 {
                    display: block;
                    position: absolute;
                    cursor: pointer;
                }

                    .jssora073 .a {
                        fill: #ddd;
                        fill-opacity: .7;
                        stroke: #000;
                        stroke-width: 160;
                        stroke-miterlimit: 10;
                        stroke-opacity: .7;
                    }

                    .jssora073:hover {
                        opacity: .8;
                    }

                    .jssora073.jssora073dn {
                        opacity: .4;
                    }

                    .jssora073.jssora073ds {
                        opacity: .3;
                        pointer-events: none;
                    }
            </style>
            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:300px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                    <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
                </div>
                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:600px;height:300px;overflow:hidden;">
                    <div>
                        <a href="/podzespoly/Chłodzenie">
                            <img data-u="image" src="~/Content/Slider/chłodzenie.png" />
                        </a>
                    </div>
                    <div>
                        <a href="/podzespoly/Grafika">
                            <img data-u="image" src="~/Content/Slider/grafika.png" />
                        </a>
                    </div>
                    <div>
                        <a href="/podzespoly/Klawiatura">
                            <img data-u="image" src="~/Content/Slider/klawiatura.png" />
                        </a>
                    </div>
                    <div>
                        <a href="/podzespoly/Monitor">
                            <img data-u="image" src="~/Content/Slider/monitor.png" />
                        </a>
                    </div>
                    <div>
                        <a href="/podzespoly/Myszka">
                            <img data-u="image" src="~/Content/Slider/myszki.png" />
                        </a>
                    </div>
                    <div>
                        <a href="/podzespoly/Obudowy">
                            <img data-u="image" src="~/Content/Slider/obudowy.png" />
                        </a>
</div>
                    <div>
                        <a href="/podzespoly/Procesor">
                            <img data-u="image" src="~/Content/Slider/procesory.png" />
                        </a>
</div>
                    <div>
                        <a href="/podzespoly/Motherboard">
                            <img data-u="image" src="~/Content/Slider/płytagłowna.png" />
                            </a>
</div>
                    <div>
                        <a href="/podzespoly/RAM">
                            <img data-u="image" src="~/Content/Slider/ram.png" />
                            </a>
</div>
                    <div>
                        <a href="/podzespoly/Zasilacz">
                            <img data-u="image" src="~/Content/Slider/zasilacz.png" />
                            </a>
</div>
                </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">design web</a>
                <!-- Bullet Navigator -->

            </div>
            <script type="text/javascript">
                jssor_1_slider_init();
            </script>
            <!-- #endregion Jssor Slider End -->
    </nav>
    <section>
        <ul class="ThreeColumnsCoversList large-cover-list">
            @foreach (var newArrival in Model.NewArrivals)
            {


                <li>
                    <article>
                        <a class="addtocartlink" href="@Url.Action("AddToCart","Cart",new { id=newArrival.PodzespolId })">
                            <img src="../Content/Images/cart.png" />
                        </a>
                        <a class="productdetailslink" href="@Url.Action("Details","Store",new { id=newArrival.PodzespolId })">
                            <div class="newFlag"></div>
                            <img class="album-cover" src="../Content/Covers/@newArrival.ConvertFileName" />
                            <h1>
                                <b /> @newArrival.NazwaPodzespolu - @newArrival.Producent
                            </h1>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>
    <section>
        <ul class="ThreeColumnsCoversList large-cover-list">
            @foreach (var bestseller in Model.Bestsellers)
            {


                <li>
                    <article>
                        <a class="addtocartlink" href="@Url.Action("AddToCart","Cart",new { id=bestseller.PodzespolId })">
                            <img src="../Content/Images/cart.png" />
                        </a>
                        <a class="productdetailslink" href="" @Url.Action("Details", "Store", new { id = bestseller.PodzespolId }) "">
                            <div class="bestsellerFlag"></div>
                            <img class="album-cover" src="../Content/Covers/@bestseller.ConvertFileName" />
                            <h1>
                                <b />    @bestseller.NazwaPodzespolu - @bestseller.Producent
                            </h1>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>

</body>
</html>
@section ScriptsBottom{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
}
